{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "no-restricted-syntax": ["error", "ForInStatement"],
    "no-await-in-loop": 0,
    "prefer-destructuring": ["error", {
      "array": false
    }]
  }
}
